.doutores{
  background-image: url("../img/doctor/desk.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.doutor{
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.alinhar_doctor{
  text-align: center;
  opacity: none;
  padding-top: 90px;
  left: 50%;
}

.info_doutor{
  padding-top: 40px;
  padding-bottom: 40px;
}

.box_doutor{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  border: solid black 1px;
  margin-right: 60px;
}

.alinhamento{
  text-align: center;
}

.h_doctor{
  text-align: center;
}
